*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.info{
    display: flex;
    justify-content: space-around;
}

.quadrado{
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
}

#q1{
    background-color: red;
    top: 50px;
    left: 100;
}

#q2{
    background-color: blue;
    top: 200px;
    left: 300px;
}